*.xcodeproj
*.xcworkspace
!Tests/Apps/Apps.xcodeproj
builder/build
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Test executables
test_teamgram
test_teamgram_auth
