name: Build

on:
  workflow_call:
    inputs: 
      platform:
        required: true
        type: string
      developer-dir:
        required: true
        type: string

jobs:
  build:
    runs-on: macos-15
    env:
      DEVELOPER_DIR: ${{ inputs.developer-dir }}
      PLATFORM: ${{ inputs.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install build dependencies
        run: |
          brew install gperf coreutils ccache cmake

      - name: Install visionOS runtime
        if: ${{ env.PLATFORM == 'visionOS' || env.PLATFORM == 'visionOS-simulator' }}
        uses: ./.github/actions/install-visionos-runtime
        with:
          developer_dir: ${{ env.DEVELOPER_DIR }}

      - name: Build TDLib framework for ${{ env.PLATFORM }}
        shell: bash
        run: |
          curl https://mise.run | sh
          export PATH="$HOME/.local/bin:$PATH"

          mise install
          eval "$(mise activate bash --shims)"

          ./scripts/build_platform.sh "$PLATFORM"

      - name: Compress xcarchive
        run: |
          cd builder/build
          zip --symlinks -r "${PLATFORM}.xcarchive.zip" "${PLATFORM}.xcarchive"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: xcarchive-${{ env.PLATFORM }}
          path: ./builder/build/${{ env.PLATFORM }}.xcarchive.zip
          if-no-files-found: error
